{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <!-- Bootstrap CSS -->

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>

        <title>Hello, world!</title>
    </head>
    <header class="header">
        <div class="header__inner">
            <div class="header__item">
                <ul>
                    <li><a href="/#banner">Gusto</a></li>
                    <li><a href="/#special_menu">Меню від шефа</a></li>
                    <li><a href="/#menu">Меню</a></li>
                    <li><a href="/#events">Події</a></li>
                    <li>
                        <a href="/#tableReservation">Залишити повідомлення</a>
                    </li>
                </ul>
            </div>
            <div class="header__item">
                <a href="/login" class="header__link">Login</a>
                <a href="/register" class="header__link">Registration</a>
                <a href="/logout" class="header__link">Logout</a>
            </div>
        </div>
    </header>
    <body>
        {% block content %} {% endblock %}

        <footer id="footer" style="margin-top: 20px">
            <p class="centre">
                Главная | <a href="#"> Рейтинги </a> |
                <a href="#"> Статьи </a> | <a href="#">Контакты</a> |
                <a href="#">Доставка</a> |
            </p>
            <div class="copyright centre">
                Copyright © 2021. Сайт ресторана "Gusto".
            </div>
        </footer>

        <!-- JS  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
